
/* Your CSS Code here. */
 .form-row {
            display: flex;
            flex-wrap: wrap;
	        gap: 1rem;
            margin-bottom: 1rem;
	
	 
	 
        }
        .form-row .form-group {
            flex: 1;
           
			min-width: 20px; /* Adjust as needed for responsive design */
        }
        .invalid-feedback {
            color: red;
            display: none;
        }
        .was-validated .form-control:invalid ~ .invalid-feedback,
        .was-validated .form-check-input:invalid ~ .invalid-feedback {
            display: block;
			
        }